.info
{
    
    position: fixed;
    width:40px;
    height:20px;
    background-color: black;
    color: white;
    
    
    
    
    
}
button
{
    text-transform: capitalize;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    
    
    
    
}

#btnHolder
{
    width:1000px;
    
    
    
    
}